---
import Navigation from "./Navigation.astro";
---

<div class="">
    <Navigation />

    <div class="p-10 flex justify-between gap-x-10 min-h-screen">
        <div class="bg-white rounded-2xl w-full p-8 shadow-xl h-min">
            <div class="text-2xl font-bold">Hi there! I'm</div>
            <div class="text-5xl font-bold text-green-500 mt-3">Alex Situ</div>
            <div class="font-semibold mt-3 mb-10">Software Developer</div>
            <a
                href=""
                class="bg-green-500 text-white px-3 py-2 transition-all rounded-full hover:px-5 hover:opacity-90 hover:drop-shadow-xl"
                >Contact</a
            >
        </div>
        <div class="w-full">stuff</div>
    </div>

    <!-- About page -->
    <div id="about" class="bg-white py-10 px-20 justify-around">
        <div>
            <div class="font-bold text-3xl">About</div>
            <div class="mt-2 h-1 w-20 bg-green-500 md:mt-5"></div>
            <div></div>
        </div>
    </div>
</div>
