<div
    class="bg-white rounded-full m-10 mb-10 px-10 py-3 justify-between sticky flex"
>
    <div class="text-xl font-bold text-green-500">Alex Situ</div>
    <div class="flex gap-x-5 font-semibold text-lg [&>a]:hover:text-green-500 [&>a]:hover:cursor-pointer">
        <a href="#about">About</a>
        <a>Experience </a>
        <a>Skills </a>
        <a>Projects </a>
        <a>Contacts </a>
    </div>
</div>
