---
interface Props {
    title: string
}
const {title} = Astro.props
---
<div class="px-2 py-0.5 text-xs font-medium bg-[#22c55e]/10 dark:bg-[#ADFF2F]/10 bg-linear-to-r from-[#22c55e] to-[#16a34a] dark:from-[#ADFF2F] dark:to-[#22c55e] text-transparent bg-clip-text rounded border-2 border-[#22c55e]/20 dark:border-[#ADFF2F]/20 w-min">
    {title}
</div>